.active-link {
    border-bottom: 1px solid red;
    text-decoration: none;
}

.default-link {
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

img {
    width: 300px;
}

.navigation-outer-container {
    display: flex;
    background-color: #fff;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
